<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    {{#if isNewRelicEnabled}}{{{browserTimingHeader}}}{{/if}}
    <title>Tara Marchand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if isProd}}
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {{/if}}
</head>

<body>
    {{{body}}}
    <script src="/static/main.bundle.js"></script>
</body>

</html>