.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

li.is-active span {
  @apply text-primary-800;
}

nav a,
main a {
  @apply text-primary-700;
}

nav a:hover,
main a:hover {
  @apply text-primary-500;
}

.root {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 4;
}

nav {
  grid-column: 1 / span 1;
}

main {
  grid-column: 2 / span 3;
}

@media (max-width: 700px) {
  main,
  nav {
    grid-column: 1 / span 4;
  }
}
