li.is-active span {
  @apply text-primary-800;
}

nav a,
main a {
  @apply text-primary-700;
}

nav a:hover,
main a:hover {
  @apply text-primary-500;
}

.root {
  display: grid;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
